<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- [style.display]="spinner ? 'block': 'none'" -->
  <mat-toolbar>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="30" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <span class="example-spacer"></span>
    <div class="container-drawer">
      
      <button type="button" mat-button (click)="drawer.toggle()"><i class="material-icons">menu</i></button>    
    </div>
  </mat-toolbar>
  <mat-drawer-container class="mat-drawer-container">

    <div class="spinner" [class.hide]="hideSpinner"><mat-spinner></mat-spinner></div>
    <router-outlet></router-outlet>
    
    <mat-drawer #drawer mode="side" class="sidenav">
      <button routerLink="/reactive-forms" class="inline-bk">Reactive forms</button>
      <button routerLink="/directives" class="inline-bk">Directives</button>
      <button routerLink="/posts" class="inline-bk">Posting</button>
      <button routerLink="/pipes" class="inline-bk">Pipes</button>
    </mat-drawer>
  </mat-drawer-container>
  
</div>


